<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; " charset="UTF-8">
<link th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/base.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<header class="header">
		<div layout:fragment="header">
			<a th:href="@{/logout}">ログアウト</a>
		</div>
	</header>
	<div class="content">
		<div layout:fragment="content"></div>
	</div>
	<footer class="footer">
		<div layout:fragment="footer"></div>
	</footer>
	<script th:href="@{webjars/jquery/3.5.0/js/jquery.min.js}"></script>
	<script th:href="@{webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>