
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; " charset="UTF-8">
<link th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/base.css}" rel="stylesheet" type="text/css">
<script th:href="@{webjars/jquery/3.5.0/js/jquery.min.js}"></script>
<script th:href="@{webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:fragment="timeline" th:remove="tag">
		<table th:id="empTable"> 
			<tr>
				<td th:if="${result} neq null" th:text="'検索結果' + ${result} + '件'"></td>
			</tr>
			<tr>
				<th>社員番号</th>
				<th>氏名</th>
				<th>生年月日</th>
				<th>部署</th>
			</tr>
			<tr th:class="empList" th:each="employee, empStat : ${employees}" th:object="${employee}">
				<td class="id" th:text="*{id}"></td>
				<td class="name" th:text="*{name}"></td>
				<td class="birthdate" th:text="*{birthdate}"></td>
				<td class="division" th:text="*{division}"></td>
				<td>
					<form th:action="@{/update}" th:object="${updateForms}" method="POST">
						<input type="hidden" name="updateForms[0].id" th:value="${employee.id}">
						<input type="hidden" name="updateForms[0].name" th:value="${employee.name}">
						<input type="hidden" name="updateForms[0].birthdate" th:value="${employee.birthdate}">
						<input type="hidden" name="updateForms[0].division" th:value="${employee.division}">
						<input type="submit" value="更新">
					</form>
				</td>
				<td>
					<input type="button" class="ajax_delete" value="削除" th:name="*{id}">
				</td>
			</tr>
		</table>
	</div>
</body>
</html>