<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/css/base.css}" rel="stylesheet" type="text/css">
	<script th:href="@{webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
    <title>ログイン画面</title>
</head>
<body>
<div>
   <p class="login-title">ログイン画面</p>
   <form class="login-form" th:action="@{/login}" method="POST">
        <div th:if="${showErrorMsg}" class="alert" role="alert" th:text="${errorMsg}"></div>
        <div th:if="${showLogoutedMsg}" class="alert" role="alert" th:text="#{todo.login.logouted}"></div>
        <p>
          <input type="text" id="username" name="username" class="login-text" placeholder="ユーザID" required autofocus>
        </p>
        <p>
          <input type="password" id="password" name="password" class="login-text" placeholder="パスワード" required autocomplete="off">
        </p>
        <button class="login-button" type="submit">ログイン</button>
   </form>
</div>
</body>
</html>