<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/base}">
<head>
<meta http-equiv="Content-Type" content="text/html; " charset="UTF-8">
<script type="text/javascript" th:src="@{webjars/jquery/3.5.0/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/search.js}"></script>
<title>検索画面</title>
</head>
<body>
	<div layout:fragment="content">
		<form id="search" th:action="@{/searchResult}" th:object="${searchForm}" method="GET">
			<table>
				<tr>
					<td><input type="radio" th:field="*{searchType}" value="id" th:text="社員番号："></td>
					<td><input type="text" th:field="*{id}" size=30></td>
					<td th:if="${#fields.hasErrors('idValid')}" th:errors="*{idValid}"></td>
				</tr>
				<tr>
					<td><input type="radio" th:field="*{searchType}" value="name" th:text="氏名："></td>
					<td><input type="text" th:field="*{name}" size=30></td>
					<td th:if="${#fields.hasErrors('nameValid')}" th:errors="*{nameValid}"></td>
				</tr>
				<tr>
					<td><input type="submit" value="検索"></td>
				</tr>
			</table>
			<input type="button" class="ajax_allList" value="一覧表示">
		</form>
		<div th:replace="list :: timeline"></div>
	</div>
	<div layout:fragment="footer">
		<p>
			<a th:href="@{/}">戻る</a>
		</p>
	</div>
</body>
</html>